In [72]:
import pandas as pd
import numpy as np 
import statsmodels.api as sm

from warnings import filterwarnings
filterwarnings('ignore')

In [73]:
data =pd.read_csv('general_data.csv')
data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [86]:
data=data.dropna()
data.isna().sum()

Age                        0
Attrition                  0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
EducationField             0
EmployeeCount              0
EmployeeID                 0
Gender                     0
JobLevel                   0
JobRole                    0
MaritalStatus              0
MonthlyIncome              0
NumCompaniesWorked         0
Over18                     0
PercentSalaryHike          0
StandardHours              0
StockOptionLevel           0
TotalWorkingYears          0
TrainingTimesLastYear      0
YearsAtCompany             0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64

In [116]:
data=data.drop(['EmployeeID','Over18'], axis=1)

In [125]:
from sklearn.preprocessing import LabelEncoder
data['Attrition'] = LabelEncoder().fit_transform(data['Attrition'])
data['BusinessTravel'] = LabelEncoder().fit_transform(data['BusinessTravel'])
data['Department'] = LabelEncoder().fit_transform(data['Department'])
data['MaritalStatus'] = LabelEncoder().fit_transform(data['MaritalStatus'])
data['JobRole'] = LabelEncoder().fit_transform(data['JobRole'])
data['Gender'] = LabelEncoder().fit_transform(data['Gender'])
data['EducationField'] = LabelEncoder().fit_transform(data['EducationField'])

In [126]:
data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,Gender,JobLevel,...,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,2,2,6,2,1,1,0,1,...,131160,1.0,11,8,0,1.0,6,1,0,0
1,31,1,1,1,10,1,1,1,0,1,...,41890,0.0,23,8,1,6.0,3,5,1,4
2,32,0,1,1,17,4,4,1,1,4,...,193280,1.0,15,8,3,5.0,2,5,0,3
3,38,0,0,1,2,5,1,1,1,3,...,83210,3.0,11,8,3,13.0,5,8,7,5
4,32,0,2,1,10,1,3,1,1,1,...,23420,4.0,12,8,2,9.0,2,6,0,4

In [127]:
y=data['Attrition']
y.head()

0    0
1    1
2    0
3    0
4    0
Name: Attrition, dtype: int64

In [128]:
x=data.drop(['Attrition'],axis=1)
x.head()

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,Gender,JobLevel,JobRole,...,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,2,2,6,2,1,1,0,1,0,...,131160,1.0,11,8,0,1.0,6,1,0,0
1,31,1,1,10,1,1,1,0,1,6,...,41890,0.0,23,8,1,6.0,3,5,1,4
2,32,1,1,17,4,4,1,1,4,7,...,193280,1.0,15,8,3,5.0,2,5,0,3
3,38,0,1,2,5,1,1,1,3,1,...,83210,3.0,11,8,3,13.0,5,8,7,5
4,32,2,1,10,1,3,1,1,1,7,...,23420,4.0,12,8,2,9.0,2,6,0,4

In [129]:
X1 = sm.add_constant(x)

In [130]:
Logistic = sm.Logit(y, X1)

In [131]:
result = Logistic.fit()

Optimization terminated successfully.
         Current function value: 0.392916
         Iterations 7

In [132]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:              Attrition   No. Observations:                 4382
Model:                          Logit   Df Residuals:                     4362
Method:                           MLE   Df Model:                           19
Date:                Sun, 09 Aug 2020   Pseudo R-squ.:                  0.1093
Time:                        21:48:13   Log-Likelihood:                -1721.8
converged:                       True   LL-Null:                       -1933.1
Covariance Type:            nonrobust   LLR p-value:                 8.681e-78
===========================================================================================
                              coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------
Age                        -0.0307      0.007     -4.478      0.000      -0.044      -0.017
BusinessTravel             -0.0137      0.066     -0.209      0.834      -0.143       0.115
Department                 -0.2229      0.082     -2.735      0.006      -0.383      -0.063
DistanceFromHome           -0.0012      0.005     -0.231      0.818      -0.012       0.009
Education                  -0.0664      0.043     -1.555      0.120      -0.150       0.017
EducationField             -0.0954      0.034     -2.849      0.004      -0.161      -0.030
EmployeeCount               0.0004        nan        nan        nan         nan         nan
Gender                      0.0855      0.090      0.952      0.341      -0.091       0.262
JobLevel                   -0.0285      0.040     -0.716      0.474      -0.107       0.050
JobRole                     0.0400      0.018      2.226      0.026       0.005       0.075
MaritalStatus               0.5835      0.063      9.212      0.000       0.459       0.708
MonthlyIncome           -1.815e-06   9.57e-07     -1.897      0.058   -3.69e-06    6.01e-08
NumCompaniesWorked          0.1174      0.018      6.390      0.000       0.081       0.153
PercentSalaryHike           0.0126      0.012      1.067      0.286      -0.011       0.036
StandardHours               0.0033        nan        nan        nan         nan         nan
StockOptionLevel           -0.0675      0.052     -1.302      0.193      -0.169       0.034
TotalWorkingYears          -0.0584      0.012     -4.873      0.000      -0.082      -0.035
TrainingTimesLastYear      -0.1443      0.035     -4.097      0.000      -0.213      -0.075
YearsAtCompany              0.0132      0.018      0.718      0.473      -0.023       0.049
YearsSinceLastPromotion     0.1328      0.020      6.479      0.000       0.093       0.173
YearsWithCurrManager       -0.1394      0.022     -6.288      0.000      -0.183      -0.096
===========================================================================================
"""