In [21]:
import pandas as pd

In [55]:
data = pd.read_csv("C:/Users/vrisshin.DESKTOP-9KRLTG6/downloads/general_data.csv")

In [56]:
data.dropna()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4404,29,No,Travel_Rarely,Sales,4,3,Other,1,4405,Female,...,1.0,Y,18,8,0,6.0,2,6,1,5
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8

In [57]:
data.Attrition=data.Attrition.replace("No",0)
data.Attrition=data.Attrition.replace("Yes",1)
data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [58]:
from scipy.stats import pearsonr

## Hypothesis 1
H0- attrition has no correlation with education

H1- attrition has correlation with education

 H0 is true

In [49]:
stats,p=pearsonr(data.Attrition,data.Education)
print(stats,p)

-0.017106307050278727 0.25757539308157945

## hypothesis 2
H0- attrition has no correlation with Distance from home

H1- attrition has correlation with distance from home

H0 is true

In [50]:
stats,p=pearsonr(data.Attrition,data.DistanceFromHome)
print(stats,p)

-0.009448638515156243 0.5317715668019558

## hypothesis 3
H0- attrition has no correlation with employee Id

H1- attrition has correlation with employee ID

H1 is true

In [51]:
stats,p=pearsonr(data.Attrition,data.EmployeeID)
print(stats,p)

-0.004620541850379518 0.7597730060918658

## hypothesis 4
H0- attrition has no correlation with percentage salary hike

H1- attrition has correlation with education percentage salary hike

H1 is true

In [52]:
stats,p=pearsonr(data.Attrition,data.PercentSalaryHike)
print(stats,p)

0.03315303713546665 0.028192446935106235

## hypothesis 5
H0- attrition has no correlation with total working years

H1- attrition has correlation with total working years

H1 is true

In [53]:
stats,p=pearsonr(data.Attrition,data.TotalWorkingYears)
print(stats,p)

-0.16966991684723917 1.1645434967091854e-29

## Hypothesis 6
H0- attrition has no correlation with training times last year

H1- attrition has correlation with training times last year

H1 is true

In [61]:
stats,p=pearsonr(data.Attrition,data.TrainingTimesLastYear)
print(stats,p)

-0.04943057624425501 0.0010247061915362814

## Hypothesis 7
H0- attrition has no correlation with years at company

H1- attrition has correlation with years at company

H1 is true

In [63]:
stats,p=pearsonr(data.Attrition,data.YearsAtCompany)
print(stats,p)

-0.1343922139899772 3.1638831224877484e-19

## Hypothesis 8
H0- attrition has no correlation with  years since promotion

H1- attrition has correlation with years since promotion

H1 is true

In [65]:
stats,p=pearsonr(data.Attrition,data.YearsSinceLastPromotion)
print(stats,p)

-0.03301877514258434 0.028330336189396753